# Dependencies
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env / Secrets
.env
.env.local
.env.*.local
*.token
*-token.txt

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editors
.vscode/
.idea/
*.swp
*.swo
